.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.flashcard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  height: 60vh;
  position: relative;
}

.flashcard {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 80vw;
  max-width: 500px;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
  position: relative;
  flex-direction: column;
}

.content {
  font-size: 3em; /* Increased font size */
}

.flag-icon {
  width: 30px;
  height: 20px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0056b3;
}
